
/*Slanje nove prituzbe*/

.Centered{
    background-color: white;
    width: 80%;
    min-height: 20vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
}
.smallHead {
    width: 1px;
    white-space: nowrap;
}

.PageLayout{
    background-color: white;
}
.Label {
    justify-content: center;
    margin-top: 20px;
   margin-bottom: 10px;
}


.ComplaintTitle{
    margin-top: 10px;
    margin-bottom: 10px;
}

.ComplaintText{
    margin-bottom:10px;
}

.ComplaintButton{
    justify-content: center;
    margin-bottom:10px;
}

.newComplaintButton{
    width: 100%;
    height: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.labelDetails{
    font-size: 40px;
    margin-top: 10px;
    width: 40%;
}

.exitButton{
    margin-top: 10px;
    margin-left: 300px;
}
.sendButton{
    width: 30%;
    margin: 10px;
}

.limiter {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}
.container-login100 {
    background-color: white;
    width: 100%;
    min-height: 20vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.wrap-login100 {
    background-color: #f2f2f2;
    width: 560px;
    border-radius: 10px;
    position: relative;
}

.login100-form-title{
    margin-top: 10px;
    margin-bottom: 10px;
}

span + span {
    margin-left: 100px;
}

/*slanjeZahtjevaGlomazni*/

/*slanjeZahtjevaResursi*/

.ResourceSelect {
    margin-top: 10px;
    margin-bottom: 10px;
}

.formControl{
    width: 80px;
}

.selectLabel{
    width: 180px;
}
