html, body, .grid-container { height: 100%; margin: 0; }

.grid-container * {
    border: 1px solid red;
    position: relative;
    background: red;
}

.grid-container *:after {
    content:attr(class);
    position: absolute;
    top: 0;
    left: 0;
}

.ante {
    background: red;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'ante mujo';
}
